/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Prompt:ital,wght@0,300;0,400;1,500;1,600&family=Roboto:wght@300;500&display=swap");

:root {
  --secondary: #3c83cb;
  --primary: #ffff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-width: fit-content;
}
/* Navbar */
.navbar {
  background-color: var(--primary);
  display: flex;
  width: 100%;
  /* padding: 12px; */
}

.logo {
  padding: 12px;
}
.logo img {
  width: 12rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style: none;
  padding: 0px 2rem;
}

.menu ul li a {
  text-decoration: none;
  color: #101010;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
}

.call button {
  width: 251px;
  height: 63px;
  background-color: var(--secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--primary);
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* HeroSection */
.heroSection {
  display: flex;
  flex-direction: column;
}

.hero-container {
  background: rgba(37, 35, 35, 0.8) url("./assets/Rectangle\ 295.png");
  /* opacity: 0.8; */
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: 8rem 3rem;
  padding: 0rem 2rem;
}

.hero-content h1 {
  font-weight: 400;
  margin-top: 0;
}

.blueLine {
  width: 100px;
  height: 1px;
  border: none;
  background: var(--secondary);
  /* margin: 1rem 0; */
}

.hero-content {
  text-align: center;
}

.input {
  display: flex;
}

.input > input {
  background-color: var(--primary);
  padding: 1rem 2rem;
  margin-right: 10px;
}

.input > button {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}
.input > button > img {
  margin-left: 10px;
}

/* What we do container */
.whatwedo {
  background-color: #d4d6d7;
}

.whatwedo h1 {
  text-align: center;
}

.whatwedo h1 span {
  color: var(--secondary);
}

.whatwedo__cards {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
  border-radius: 10px;
  width: 12rem;
}

.card img {
  width: 100%;
  height: 10rem;
  border-radius: 10px 10px 0 0;
}

.card figcaption {
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: #101010;
}

/* Package section */
.packages {
  background-color: #f0f0f0;
  padding: 3rem 1rem;
}

.package-types ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.package-types ul li {
  list-style: none;
  width: 30%;
  padding: 1rem;
  text-align: center;
}

.package-types ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  font-weight: 500;
}

.package-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 2rem auto;
  padding: 0;
}

.package-card {
  width: 32%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px 5px;
}

.package-card__heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.package-card__heading h2 {
  font-size: 1.6rem;
  margin: 10px 10px;
}

.package-card__heading img {
  width: 12px;
}

.package-card__text {
  font-size: 0.8rem;
  text-align: center;
}

.package-card__price {
  display: flex;
  align-items: center;
  color: rgba(16, 16, 16, 0.8);

  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.14);
}

.package-card__price > h3 {
  font-size: 1.8rem;
}

.package-card__price > p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: 0.5;
}

.package-card__button {
  text-align: center;
}
.package-card__button button {
  background: var(--secondary);
  border-radius: 4px;
  border: none;
  padding: 10px 40px;
  margin: 0 0 1rem 0;

  font-family: "Roboto", sans-serif;
  color: var(--primary);
  cursor: pointer;
}

/* Portfolio Section */

.ourtalent {
  display: flex;
  margin-bottom: 4rem;
}

.ourtalent-text {
  width: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ourtalent-text__heading h1 span {
  color: var(--secondary);
}

.ourtalent-text__list p {
  display: flex;
  align-items: center;
}

.ourtalent-image {
  position: relative;
}

.ourtalent-image img {
  width: 65%;
}

.ourtalent-image img:nth-child(1) {
  margin: 2rem 0 2rem 6rem;
}

.ourtalent-image img:nth-child(2) {
  position: absolute;
  z-index: -1;
  top: 4.5rem;
  left: 7rem;
}

.ourtalent-image img:nth-child(3) {
  position: absolute;
  z-index: -1;
  top: 14rem;
  left: -1rem;
  animation: move 5s infinite;
}

/* Keyframes for rotating a image */
@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
}

.process h1 {
  margin-top: 5rem;
}

.process h1 span {
  color: var(--secondary);
}

.process-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.process-container__card {
  width: 21%;
  margin: 9px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary);
  transform: scale(0.9);
}
.process-container__card:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.process-container__card__heading {
  display: flex;
}

.process-container__card__heading img {
  width: 1.5rem;
}

.process-container__card__text {
  font-size: 11px;
}

/* FAQ Section */

.faq {
  background-color: #f7f7fc;
  padding-bottom: 3rem;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-heading h2 {
  margin: 3rem 0 0 0;
}

.faq-heading p {
  font-size: 12px;
}

.faq-heading h2 span {
  color: var(--secondary);
}

.faq-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin: 0rem 10rem;
}

.faq-container__box {
  background-color: var(--primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 8px;
  padding-left: 12px;
}

.faq-container__box img {
  width: 1.5rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

.faq-container__box__heading h3 {
  color: #404040;
  font-size: 12px;
}

/* Contact Us Section */

.bookus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;

  background-color: #002b48;
  color: var(--primary);
}

.bookus-heading p {
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  font-size: 12px;
  font-family: 300;
}

.bookus-button button {
  background-color: #1b8ace;
  color: var(--primary);
  box-shadow: 0px 4px 20px rgba(60, 131, 203, 0.2);
  border-radius: 40px;
  border: none;
  padding: 16px;
  font-size: 16px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);

  font-weight: 400;
  padding: 1rem;
}

.connectus button {
  box-sizing: border-box;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
  background: transparent;
  color: var(--primary);
  padding: 10px;
  cursor: pointer;
}

/* Contact Us Section */

.contactus {
  display: flex;
  background-color: #f5f5f5;
  padding: 5rem;
}

.contactus-container__left {
  width: 50%;
  /* margin: 0 3rem; */
}

.contactus-form__input {
  width: 75%;
  display: flex;
}

.contactus-form__input input {
  padding: 8px;
  border: none;
  margin: 8px;
}

.contactus-form__input textarea {
  width: 100%;
  border: none;
  padding: 5px;
  margin-bottom: 8px;
}

.captcha {
  display: flex;
  background-color: var(--primary);
  width: 42%;
  align-items: center;
  /* padding: 5px; */
  min-width: 200px;
  margin-bottom: 8px;
}

.captcha img {
  width: 2rem;
}
.captcha p {
  font-family: "Prompt", sans-serif;
  margin-right: 2rem;
}

.contactus-form__input button {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 12px;
  width: 40%;
  min-width: 80px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contactus-container__right {
  width: 50%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.contactus-container__right__title {
  display: flex;
}

.contactus-container__right__title h3 {
  margin: 1rem 2rem 1rem 2rem;
}

.contactus-container__right__details {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin: 1rem 0rem;
}

.contactus-container__right__details__icon {
  position: relative;
}

.contactus-container__right__details__icon img:nth-child(1) {
  width: 15px;
  position: absolute;
  top: 14px;
  left: 11px;
}
.contactus-container__right__details__icon img:nth-child(2) {
  width: 42px;
}

.contactus-container__right__details__text {
  font-family: "Prompt", sans-serif;
  padding-left: 12px;
}

.contactus-container__right__details__text p:nth-child(1) {
  color: #0e2b3d;
  font-size: 12px;
  margin: 0;
}
.contactus-container__right__details__text p:nth-child(2) {
  color: #0e2b3d;
  font-size: 10px;
  margin: 0;
}

/* Footer Section */

.footer {
  background-color: #001d4c;
  color: var(--primary);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.footer-top__address img {
  width: 2rem;
}

.footer-top p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  margin: 0;
}

.footer-top__address {
  display: flex;
  align-items: center;
}

.footer-top > img {
  width: 12rem;
}

.footer-mid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-mid p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0 4rem;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-bottom p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  margin: 0 4rem;
}

.footer-bottom img {
  width: 16rem;
}
